
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
/* HEADER (Navigation) */
header {
  background-color: #ffffff;
  padding: 30px 0;
}
/* Main body */
body{
  color: white;
  margin: auto;
  font-family: Arial, sans-serif;
  display: flex;   /* Enable flex layout on the body */
  flex-direction: column;   /* Stack the children of body vertically */
  min-height: 100vh;   /* Ensure the body takes up the full viewport height */
}

/* Navigation header */
nav {
  padding: 0 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.nav-group {
  display: flex;
  justify-content: space-around;
}

.nav-group li {
  margin-right: 20px;  /* Add right margin to list items */
}

.nav-group li:last-child {
  margin-right: 0;  /* Remove right margin from the last list item */
}

nav a {
  color: #000000; 
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
}

.nav-group a:hover {
  color: #00653e; 
}

.join-button {
  background-color: #00653e; 
  padding: 10px 20px;
  border-radius: 30px;
  color: #fff;
  transition: background-color 0.3s ease;
}

.join-button:hover {
  background-color: #004b2d; 
}


/* FOOTER */
footer {
  margin-top: auto;   /* Push the footer down to the bottom of the flex container */
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

footer h2 {
  margin-bottom: 20px;
}

footer form input[type="email"] {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
}


footer form input[type="submit"]{
  background-color: #00653e; 
  margin-bottom: 10px;
  padding: 5px 20px;
  border-radius: 30px;
  color: #fff;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

footer form input[type="submit"]:hover {
  background-color: #004b2d; 
}
